<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.jpkc.mapper.CourseMapper">

    <select id="selectAllCourse" resultType="com.study.jpkc.entity.Course">
        select * from t_course
    </select>

    <select id="selectCourseByUserId" resultType="com.study.jpkc.entity.Course">
        select * from t_course where teacher_id in (
                select teacher_id from t_teacher where user_id = #{userId})
    </select>

    <select id="selectByLabelId" resultType="com.study.jpkc.entity.Course">
        select * from t_course where course_id in  (
                select course_id from tm_course_label where label_id = #{labelId})
    </select>

    <select id="selectByCategoryId" resultType="com.study.jpkc.entity.Course">
        select * from t_course where course_id in (
                select course_id from tm_course_category where category_id = #{categoryId})
    </select>

    <select id="selectRankingByCategoryId" resultType="com.study.jpkc.entity.Course">
        select * from t_course where course_id in (
                select course_id from tm_course_category where category_id = #{categoryId} order by course_views DESC )
    </select>

    <insert id="bindUserWithCourse">
        insert into tm_user_course values (#{innerId}, #{userId}, #{courseId})
    </insert>

    <select id="selectCollectByUserId" resultType="com.study.jpkc.entity.Course">
        select * from t_course where course_id in (
                select course_id from tm_user_course where user_id = #{userId})
    </select>

    <select id="selectIdByCategoryId" resultType="java.lang.String">
        select course_id from tm_course_category where category_id = #{categoryId}
    </select>

    <select id="selectRecommend" resultType="com.study.jpkc.entity.Course">
        select * from t_course where course_id in (
                select course_id from tm_layout_course where layout_id = '51148e73606945c1900984e68794e8b6')
    </select>
</mapper>
