<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.jpkc.mapper.CourseMapper">

    <select id="selectAllCourse" resultType="com.study.jpkc.entity.Course">
        select * from t_course
    </select>

    <select id="selectCourseByUserId" resultType="com.study.jpkc.entity.Course">
        select * from t_course where course_id in (
                select course_id from tm_user_course where user_id = #{userId})
    </select>
</mapper>
