<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.jpkc.mapper.SchoolMapper">

    <select id="selectByTeacherId" resultType="com.study.jpkc.entity.School">
        select * from t_school right join t_teacher tt on t_school.school_id = tt.school_id where teacher_id = #{teacherId}
    </select>

    <select id="selectByCourseId" resultType="com.study.jpkc.entity.School">
        select * from t_school where school_id in (
            select school_id from t_teacher where teacher_id in (
                select teacher_id from t_course where course_id = #{courseId}))
    </select>
</mapper>
