<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.jpkc.mapper.SectionCommentMapper">

    <select id="selectBySectionIdWithTime" resultType="com.study.jpkc.entity.SectionComment">
        select * from t_section_comment where section_id = #{sectionId} and parent_id = 0 order by comment_time desc;
    </select>

    <select id="selectBySectionIdWithNew" resultType="com.study.jpkc.entity.SectionComment">
        select * from t_section_comment where section_id = #{sectionId} and parent_id = 0 order by comment_time;
    </select>

    <select id="selectBySectionIdWithStar" resultType="com.study.jpkc.entity.SectionComment">
        select * from t_section_comment where section_id = #{sectionId} and  parent_id = 0 order by comment_star desc;
    </select>
</mapper>
