<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.jpkc.mapper.UserMapper">

    <update id="updateUserStatusByUsername">
        update t_user set user_status = #{status} where username = #{username}
    </update>

    <insert id="insertUserAndRole">
        insert into tm_user_role values (getUUID(uuid()), #{user.userId}, (select role_id from t_role where role_name = #{roleName}), date(now()))
    </insert>
</mapper>
