<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.jpkc.mapper.WebsiteLayoutMapper">

    <insert id="insertBindResource">
        insert into tm_website_layout_resource values (#{inner}, #{layoutId}, #{resourceId}, #{create}, #{userId}, #{desc})
    </insert>

    <insert id="insertBindCourse">
        insert into tm_layout_course values (#{inner}, #{layoutId}, #{courseId})
    </insert>

    <delete id="deleteBindCourse">
        delete from tm_layout_course where course_id = #{courseId}
    </delete>

    <insert id="insertBindSchool">
        insert into tm_layout_school values (#{inner}, #{layoutId}, #{schoolId})
    </insert>

    <delete id="unbindCourse">
        delete from tm_layout_course where layout_id = #{layoutId} and course_id = #{courseId}
    </delete>

    <delete id="unbindSchool">
        delete from tm_layout_school where layout_id = #{layoutId} and school_id = #{schoolId}
    </delete>
</mapper>
